.couseDetailsHeaderBackground {
  // background-image: url("../../assets/couseDetailsHeader.png");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 40px;
  background-size: 45%;
  height: 41rem;
  .couseDetailsHeader-container {
    padding-top: 40px;
    .couseDetailsHeader-title {
      width: 100%;
      padding-top: 12px;
    }
    .couseDetailsHeader-content {
      width: 50%;
      float: right;
      font-family: "Outfit", sans-serif;
      .couseDetailsHeader-content-top {
        padding-top: 30px;
        text-transform: uppercase;
        display: flex;
        color: #ffd900;
        font-weight: 600;
        font-size: 1.4rem;
      }
      .couseDetailsHeader-content-top-text:first-child {
        padding-right: 30px;
      }
      .couseDetailsHeader-button {
        padding-top: 14px;
        display: flex;
        gap: 18px;
        font-size: 0.75rem;
      }
      .couseDetailsHeader-paras {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: #9b9b9b;
        font-size: 1.2rem;
        span {
          color: #fff;
        }
      }
    }
  }
  .knowMore {
    cursor: pointer;
    display: flex;
    .knowMore-text {
      padding-top: 20px;

      font-weight: 500;
      color: #fff;
      text-decoration: underline;
    }
    .arrow-knowMore {
      width: 42px;
      height: 42px;
      padding-left: 10px;

    }
  }
}

@media screen and (max-width: 992px) {
  .couseDetailsHeaderBackground {
    background-position-x: center;
    background-position-y: 50px;
    background-size: 100%;
    height: fit-content;
    .couseDetailsHeader-container {
      // padding-top: 50px;
      .couseDetailsHeader-content {
        float: none;
        width: 100%;
        .couseDetailsHeader-paras {
          // font-size: 3rem;
          color: #fff;
        }
      }
    }
  }
}
.breadcrumb{
  padding: 10px 20px;
  text-align: center;
  display: block ruby;
}
.course-details nav{
  background: yellow;
  margin-top: 30px;
}
.course-details{
  padding: 0px;
}
.breadcrumb-item+.breadcrumb-item::before {
  float: inherit;
}

@media screen and (max-width: 540px) {
  .couseDetailsHeaderBackground {
    background-position-x: center;
    background-position-y: 50px;
    background-size: 100%;
    height: fit-content;
    .couseDetailsHeader-container {
      // padding-top: 50px;
      .couseDetailsHeader-content {
        float: none;
        width: 100%;
        .couseDetailsHeader-paras {
          // font-size: 3rem;
          color: #fff;
        }
      }
    }
    .knowMore {
      .arrow-knowMore {
        width: 80px;
        height: 90px;
        padding-left: 20px;
        padding-top: 30px;
      }
    }
  }
}
