.grid-item {
  position: relative;
  font-family: "StolzlBook";
  margin: 5px;
  cursor: pointer;
  .ourDairyImage {
    height: auto;
    width: 100%;
  }
  .ourDairyAbsolute {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    .label {
      text-transform: uppercase;
      margin-left: auto;
      padding: 8px;
      text-align: center;
      border-radius: 8px;
      background-color: #000;
      font-size: 10px;
    }
    .date-text-div {
      position: relative;
      top: 50%;
      left: 4%;
      .text {
        width: 60%;
      }
      .date {
        font-size: 18px;
        padding-bottom: 10px;
      }
    }
  }
}

.grid-item:hover {
  transform: scale(1.02);
  box-shadow: rgba(213, 196, 196, 0.085) 0px 1px 2px,
    rgba(213, 196, 196, 0.085) 0px 2px 4px,
    rgba(213, 196, 196, 0.085) 0px 4px 8px,
    rgba(213, 196, 196, 0.085) 0px 8px 16px,
    rgba(213, 196, 196, 0.085) 0px 16px 32px,
    rgba(213, 196, 196, 0.085) 0px 32px 64px;
}

.grid-item:nth-child(3n + 1) {
  grid-row: span 2;
  .ourDairyImage {
    height: 600px;
  }
}

.grid-item:nth-child(3n) {
  .ourDairyImage {
    height: 300px;
  }
}

.grid-item:nth-child(3n-1) {
  .ourDairyImage {
    width: 50%;
    float: right;
  }
  .date-text-div {
    width: 70%;
    display: block;
    margin-top: -100px;
  }
  .ourDairyImage {
    height: 300px;
  }
}

@media screen and (max-width: 540px) {
  .grid-item:nth-child(3n + 1) {
    grid-row: span 4;
    .ourDairyImage {
      height: 300px;
    }
  }

  .grid-item {
    .ourDairyAbsolute {
      .label {
        width: 24%;
        padding: 20px;
      }
    }
  }
  .grid-item:nth-child(3n-1) {
    .date-text-div {
      margin-top: -100px;
    }
  }
}
